:root {
    --top-color: #09002B;
    --bottom-color: #F0E6FE;
    --btn-color: #5E35B1;
}

body {

}

.fill-space {
    min-height: 400px; /* Set a minimum height to avoid shrinking */
    max-height: 700px; /* Set a maximum height to avoid excessive expansion */
}
.top-section {
    background-color: var(--top-color);
    color: white;
    min-height: 50vh;
}

.bottom-section {
    background-color: var(--bottom-color);
    color: black;
    min-height: 50vh;
    overflow-y: auto;
}

.settings {
}

.home-container {
    padding: 0;
    margin: 0;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.v-btn {
    background-color: var(--btn-color)!important;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}
